* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000; /* Pure black like the screenshot */
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* 1. Navigation */
.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
    z-index: 100;
}

.nav-container {
    width: 1300px;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    /* font-weight: 700; */
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #ced4da;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: #fff;
}

.btn-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-cta1{
    background: transparent;
    color: #ced4da;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.nav-cta2{
     background: transparent;
    color: #ced4da;
    border: 0.01rem solid #fff;
    padding: 5px;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
}

.nav-cta {
    background: #fff;
    color: #000;
    border: none;
    padding: 8px 18px;
    border-radius: 20px; /* Rounded pill shape */
    /* font-weight: 600; */
    cursor: pointer;
}

/* 2. Hero Section */
.hero {

    padding-right: 20px;
    padding-left: 20px;
    /* font-size: 25px; */
    /* padding-top: 10px; */
    /* padding-left: 5px; */
    /* max-width: 1000px; */
    /* margin: 0 auto; */
    /* text-align: left; */
}

.p-text{
    padding-top: 60px;
    margin: 20px;
    font-size: x-large;
}
/* .hero p {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 30px;
    max-width: 700px; 
} */

.btn-primary {
    background: #fff;
    color: #000;
    padding: 12px 24px;

    border-radius: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

/* 3. Mockup Image UI */
.hero-image-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.mock-ui {
    width: 100%;
    /* max-width: 1100px; */
    height: 500px;
    background: #0a0a0a;
    border: 1px solid #333;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 50px 100px rgba(0,0,0,0.8);
}

/* Responsive fixes */
@media (max-width: 768px) {
    .hero p { font-size: 36px; }
    .nav-links { display: none; }
}